/* Top Bar Css Start*/

.top-bar {
    background-color: #641296;
    padding: 12px 0;
    margin-bottom: 15px;
}

.bar-ctm {
    display: flex;
    justify-content: end;
}

.top-ctm {
    display: flex;
    margin-right: 0;
}

.top-ctm span {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    padding-right: 10px;
}

.top-ctm a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}


/* Top Bar Css End*/

@media only screen and (max-width: 767px) {
    .top-ctm {
        display: flex;
        justify-content: center;
        padding: 2px;
    }
    .bar-ctm {
        display: flex;
        justify-content: center;
    }
}